@CHARSET "UTF-8";

html, body {
	margin: 0px; padding: 0px;
	text-align: center;
}

.contenedor {
	width: 1000px; margin: 0px auto;
	text-align: left;
}

header{
	height: 43px; background: #363435;
	border-bottom: solid 2px #E6CA4D;
}

header #logo{
	margin: 5px 0px 0px;
}

#elemento
	color #FF0000