@CHARSET "UTF-8";

html, body {
	margin: 0px; padding: 0px;
	text-align: center;
	font-family: Museo;
}

.contenedor {
	width: 1100px; margin: 0px auto;
	text-align: left;
}

header{
	height: 43px; background: #363435;
	border-bottom: solid 2px #E6CA4D;
}

header #logo{
	margin: 5px 0px 0px;
}

header #user-box{
	float: right; width: 400px; height: 45px;
}

header #user-box div{
	float: left; text-align: right;
	margin: 0px 10px 0px 0px; width: 298px;
}

header #user-box div p{
	margin: 0px; color: #CCC;
}

header #user-box div .user-name{
	font-size: 14px; font-weight: 300; margin: 2px 0px -1px;
}

header #user-box div .user-area{
	font-size: 10px; font-weight: 500;
}

header #user-box div .user-area span{
	color: #E6CA4D; font-style: italic;
}

header #user-box div .user-percent{
	font-size: 10px; font-weight: 500; color: #E6CA4D;
}

header #user-box div .user-percent img{
	margin: 0px 0px -3px;
}

header #user-box a.user-options{
	float: left; width: 60px; height: 45px; background: #F3F1F2;
	text-decoration: none;
}

header #user-box a.user-options img{
	margin: 8px 6px 0px;
}

header #user-box a.user-options span{
	position: relative; top: -38px; left: 30px; background: #F85D5B;
	color: #FFF; border-radius: 8px; -moz-border-radius: 8px;
	-webkit-border-radius: 8px; font-size: 10px; display: block;
	width: 26px; text-align: center; padding: 2px 0px;
	font-weight: 700;
}

header #user-box>a.user-config{
	float: left; width: 42px; height: 45px;
}


/* SECTION (CUERPO DEL SISTEMA) */

section{
	width: 1100px; height: auto; overflow: hidden;
	margin: 0px auto; text-align: left;
}

section>h1{
	margin: 47px 0px 0px; font-size: 30px; color: #444;
	font-weight: 300; border-bottom: solid 2px #E6CA4D;
}

section>div{
	margin: 26px 0px 26px; font-size: 22px; color: #444;
}

section>div select{
	font-family: Museo; border: none; background: #F4F4F4;
	width: 229px; height: 22px; font-size: 18px;
	margin: 0px 20px; color: #888;
}


/* BOXES DE TAREAS */

.items{
	width: 176px; float: left; margin: 0px 53px 45px 0px;
	background: url(../img/bg-boxes.jpg) 0 0; color: #555;
	border-radius: 4px;	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	text-align: center;
}

.items:nth-child(5n+5){
	margin: 0px 0px 45px;
}

.items h3{
	font-size: 14px; font-weight: 300; margin: 13px 25px 10px;
}

.items img{
	margin: 0px 0px 8px;
}

.items p{
	font-size: 13px; margin: 0px 0px 20px;
}

.items p span{
	font-size: 10px; display: block; font-weight: 500;
}

.items div.box{
	padding: 10px 15px; background: url(../img/bg-bottom-box.png) repeat;
}

.items div.box a{
	display: block; font-size: 13px; color: #FFF;
	padding: 6px 1px; text-decoration: none;
}

.items div.box a.lightblue{
	background: #308BD4; 
}

.items div.box a.red{
	background: #FF3D3D; 
}

.items div.box a.green{
	background: #01DD5F; 
}

.items div.box a.orange{
	background: #FFA73D; 
}

.items div.box a.white{
	background: #FFF; color: #666;
}


/* CALENDARIO */

#calendario{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	overflow: hidden; background: #FFF;
}

#calendario .calendario_cabecera{
	background: #FFEC96; height: auto; overflow: hidden;
}

#calendario .calendario_cabecera div{
	float: left; width: 126px; font-size: 14px; text-align: center;
	color: #888; margin: 3px 0px 0px;
}

#calendario .calendario_cabecera div span{
	display: block; padding: 2px 0px; font-size: 10px; background: #F8F8F8;
	width: 34px; text-align: center; margin: 2px auto 3px; border-radius: 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
}

#calendario .calendario_cabecera a{
	font-family: Arial; font-size: 8px; text-decoration: none; color: #444;
	line-height: 40px; float: left; width: 24px; text-align: center;
}

#calendario .calendario_days ul{
	margin: 0px 3px; padding: 0px; list-style: none;
}

#calendario .calendario_days ul li{
	font-size: 7px; font-weight: 900; float: left;
	width: 24px; text-align: center; line-height: 23px;
	text-transform: uppercase; color: #777;
}


/* RELOJ DEL CALENDARIO */

#reloj{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	background: #FFF; border-top: none;
	height: auto; overflow: hidden;
}

#reloj .reloj_cabecera{
	background: #FFEC96; height: auto; overflow: hidden;
	font-size: 14px; text-align: center; color: #888;
	line-height: 20px;
}

#reloj ul{
	height: auto; overflow: hidden; list-style: none;
	margin: 0px auto; padding: 4px 0px; width: 97px;
}

#reloj ul li{
	float: left; margin: 0px 10px 0px 0px;
	font-size: 17px; color: #777;
}


/* CONTROL [GUARDAR/CANCELAR] */

#control{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	background: #000; border-top: none;
	height: auto; overflow: hidden;
}

#control a{
	border-radius: 2px; -moz-border-radius: 2px;
	-webkit-border-radius: 2px; background: #01DD5F;
	width: 87px; float: left; display: block; padding: 4px 0px 3px;	
	color: #FFF; text-decoration: none; font-size: 14px;
}

#control a:last-child{
	background: #FF3D3D; margin: 0px 0px 0px 1px; width: 86px;
}



/*  PIE DE PÃGINA / FOOTER */

footer>div{
	height: 36px; background: #1E1E1E;
}

footer div>div img{
	margin: 7px 0px 0px;
}

footer>div:last-child{
	height: 11px; background: #E6CA4D;
	font-size: 10px; font-weight: 700;
}

footer>div:last-child div{
	text-align: center;
}






/* BARRA LATERAL IZQUIERDA */

#sidebar{
	position: absolute; width: 66px; height: auto;
	background: #222; top: 45px; left: 0px;
	overflow: hidden;
}

#sidebar ul{
	margin: -4px 0px 0px; padding: 0px; list-style: none;
}

#sidebar ul li{
	color: #FFF; font-size: 40px; line-height: 64px;
	border-bottom: solid 1px #E6CA4D;
}

#sidebar ul li:first-child{
	height: 64px; background: #E6CA4D;
}

#sidebar ul li img{
	height: 64px;
}

#sidebar img.foto {
	margin: 0px; padding: 0px;
}


#sidebar-expand{
	position: absolute; width: 202px; height: auto;
	background: #3E3E3E; top: 45px; left: 66px;
	overflow: hidden; display: none;
}

.user-perfil{
	height: 134px; background: #B87F6E;
}

.insignia{
	height: 66px; background: #E6CA4D;
}

#sidebar-expand ul{
	margin: 0px 0px 0px; padding: 0px;
	list-style: none; text-align: left;
}

#sidebar-expand ul li a{
	color: #FFF; font-size: 16px; line-height: 64px;
	border-bottom: solid 1px #E6CA4D; display: block;
	padding: 0px 0px 0px 15px; color: #AAA;
	text-decoration: none;
}

#sidebar-expand ul li:first-child a{
	background: #E6CA4D; color: #555;
}